{% extends "base.html" %}
{% load i18n %}
{#% load debug %#}
{% block page_content %}
  <div class="row">
    <div class="card m-3">
      <div class="card-header text-center text-uppercase">
        {% trans "lists of products" %}
      </div>
        <div class="card-body p-3">
          <table id="table-products" class="table table-responsive">
            <thead>
              <tr>
                <th title="{% trans 'name' %}">
                  {% trans "name" %}
                </th>
                <th title="{% trans 'variety' %}">
                  {% trans "variety" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
                <tr>
                  <td class="text-truncate" title="{{ product.name }}">
                    {{ product.name }}
                  </td>
                  <td class="text-truncate" title="{{ product.variety }}">
                    {{ product.variety }}
                  </td>
                </tr>
              {% endfor  %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
