{% load i18n %}
<html>
  {% load static %}
  <head>
      <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
      <link rel="stylesheet" href="{% static 'css/localcommerce.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0.min.css' %}">
      <title>{% trans 'local commerce' %}</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-expand-sm bg-light">
      <div class="container-fluid">
        <div class="logo_wrapper">
          <a href="#">logo
          </a>
        </div>
        <ul class="nav nav-pills pull-center">
            <li>
              <a href="{% url 'products_index' %}" class="nav-item nav-link px-3">{% trans 'Products' %}</a>
            </li>
            <li>
                <a href="{% url 'concrete_products_index' %}" class="nav-item nav-link px-3">{% trans 'Concrete products' %}</a>
            </li>
            <li>
              <a href="{% url 'offers_index' %}" class="nav-item nav-link px-3">{% trans 'Oferts' %}</a>
            </li>
        </ul>
        <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
              <span id="greeting">{% trans 'Hi' %} {{ user.email }}!</span>
              &nbsp;
              <li>
                <a href="{% url 'logout' %}">{% trans 'Log Out' %}</a>
              </li>
            {% else %}
              <span id="greeting">{% trans 'You are not logged in' %}!</span>
              &nbsp;
              <li>
                <a href="{% url 'login' %}">{% trans 'Log In' %}</a> |
              </li>
              <li>
                <a href="{#% url 'account_signup' %#}">{% trans 'Sign Up' %}</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <h1 class="text-center">{% trans 'local commerce' %}</h1>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block page_content %}{% endblock %}
    </div>
  </body>
</html>
